/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
   font-family: 'Roboto Condensed', sans-serif;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: 	#f6f4ea;
 }

 main {
     flex: 1 0 auto;
   }

/* NAV STYLES */

.light-blue.lighten-1 {
  background-color: #f6f4ea !important;
}
nav ul a {
  color: black !important;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
