
body {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: 	#f4f5f7;
}

li {
  font-family: 'typewriter', Arial, sans-serif;
}

.project-container {
  margin-left: 80px;
  margin-top: 35px;
}

.logo {
    position: fixed;
    bottom: 120px;
    right: 120px;
    font-size: 40px;
}

.click-here,  {
  text-decoration: none;
}

.div-contact {
    position: absolute;
    top: 240px;
    right: 120px;
    font-size: 40px;
}
